html {
  @apply bg-white;
}
html.dark {
  @apply bg-gray-900;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html.dark .markdown-body code:not([class]) {
  color: rgb(201, 209, 217);
}
