.page-index {
  .archives-empty {
    min-width: 80vw;

    .archives-empty-tip {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #3c4858;
      font-weight: 600;
      font-size: 25px;
    }
  }

  .archives-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
    max-width: 90vw;

    .archive-item {
      width: 800px;
      margin: 20px auto;
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(0, 0, 0, .1);

      .archive-item-content {
        display: flex;
        justify-content: space-evenly;
      }

      .archive-item-image {
        width: 30%;
        height: 160px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        overflow: hidden;
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19) !important;
      }

      .archive-item-right {
        width: 65%;

        .archive-item-title {
          color: #3c4858;
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 2;
        }

        .archive-item-intro {
          font-size: 1rem;
          color: #3c4858;
          line-height: 1.5;
        }

        .archive-item-otherinfo {
          margin-top: 10px;
          display: flex;
          align-items: center;

          .archive-item-date, .archive-item-tags {
            font-size: 1rem;
            color: #3c4858;
            line-height: 1.5;
            margin: 0 5px;
          }
        }
      }
    }
  }
}

.index-header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  user-select: none;
  max-width: 80vw;
  width: 600px;
  font-weight: 300;
}
